.App {
  text-align: center;
}
.Header{
  max-height: 100px;
}
.Search{
  max-height: 50px;
  padding: 15px;
}

.Hits{
  display: flex;
  justify-content: space-around;
}
.Results{
  border: solid rgb(37, 37, 37) 2px;
}

.Saved{
  border: solid rgb(32, 32, 32) 2px;
  display: flex;
}

#table{
  /* border: solid rgb(53, 53, 53) 2px; */
  margin: 0px auto;
}
th{
  border-bottom: solid rgb(53, 53, 53) 2px;

}